/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #245fc3;
  --ifm-color-primary-dark: #292978;
  --ifm-color-primary-darker: #3b2771;
  --ifm-color-primary-darkest: #27205d;
  --ifm-color-primary-light: #3b3392;
  --ifm-color-primary-lighter: #4c3599;
  --ifm-color-primary-lightest: #453cad;
  --ifm-code-font-size: 95%;
  --ifm-heading-color: #27272c;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --ifm-heading-color: #f1f1f1;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}


[data-theme='dark'] .navbar__logo{
  filter: invert(1) grayscale(1) brightness(1)
}